

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(11, 11, 11);
}

    main .container{

    background-image:url(assets/bg.jpg);
    height: 900px;;
    opacity: 0.68;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    

}
.logo img{
    width: 180px;height: 80px;

}
.navbar{
    display: flex;
   
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: index 10; 
}
button{

    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    margin: 8px;
    text-align: center;
    font-size: medium;
    position: relative;
        z-index: index 10;
        font-weight: 600;
        
    
    
}
.flexbox{
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-weight: 600;
    font-size: 38px;
    position: relative;
    font-family:sans-serif;
    padding: 23px;
    text-align: center;
    font-weight: bolder;font-style: normal;
    
   
}
.text{
    font-size: 26px;
}
.flexbox .seec{
    padding: 1px ;
    font-size: xx-large;
    opacity: 9;
    justify-content: center;
}
input{
    padding: 10px 46px;
    text-decoration: none;
    border: none;

    background-color: rgba(16, 16, 16, 0.7);
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 0px;
}
.but{
    padding: 10px 17px;
    margin: 0;
    font-size: 19px;
    font-weight: 600;
}
.seperation{
    height: 6px;
    width: 100%;
    background-color:rgb(70, 70, 70);
}
.section1{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    align-items: center;
    
    
}
.write{

    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding:auto;
    text-align: left;
}
span{
    margin: 5px;
    font-size: 22px;
}
.imagebox {

    display: flex;
    position: relative;
    z-index: 10;
}
video{
    position: absolute;
    margin-top: 15%;
    padding-left: 13%;
}

.section2
 {
    color: white;
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    align-items: center;


}

.write {

    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: auto;
    text-align: left;
}

span {
    margin: 5px;
    font-size: 18px;
}

.imagebox {

    display: flex;
    position: relative;
    z-index: 10;
}
.query{
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin-bottom: 0px;
    

}
.query h1{
    margin: 20px;
}
.query :hover{
    background-color: rgb(46, 44, 44);
}
.buxes{
    
    display: flex;
    width: 60%;
    padding: 17px;
    border: 2px solid rgb(8, 8, 8);
    background-color: rgba(48, 47, 47, 0.267);
    margin: 3px;
    justify-content: space-between;
    font-size: 23px;
    transition: all 1s ease-out;
    

}
.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: top 2px; 
    color: white;
    margin-bottom: 23px;
    

}
.sign input{
    border: 1px solid gray;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
}
.sign .but{

    padding: 13px;
}
.query p{
margin-top: 30px;
font-size: 25px;
}
.footer{

    color: rgb(237, 234, 234);
    margin:23px;
}
.items{

    display: grid;
    grid-template-columns: 220px 230px 230px 230px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-items: start;
    font-size: 15px;
    
}
.footer p{
    padding-left:12.5% ;
}
